@font-face {
  font-family: "NeueMontreal-Bold"; /* A name to be used later */
  src: url("/media/fonts/NeueMontreal-Bold.otf"); /* URL to font file */
}
@font-face {
  font-family: "NeueMontreal-Light"; /* A name to be used later */
  src: url("/media/fonts/NeueMontreal-Light.otf"); /* URL to font file */
}
@font-face {
  font-family: "NeueMontreal-Medium"; /* A name to be used later */
  src: url(media/fonts/NeueMontreal-Medium.otf);
}
@font-face {
  font-family: "NeueMontreal-Regular"; /* A name to be used later */
  src: url(media/fonts/NeueMontreal-Regular.otf);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  margin: 0;
}

.container__left {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
  background-color: black;
  margin: 0;
}
.container__left h1 {
  white-space: nowrap;
  margin-left: 40px;
  margin-top: 35px;
  margin-bottom: 0;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: lighter;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.85);
  font-family: "NeueMontreal-Light", sans-serif;
}
.container__left h2 {
  letter-spacing: 1px;
  white-space: nowrap;
  margin-top: 0;
  margin-left: 42px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: light;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  font-family: "NeueMontreal-Light", sans-serif;
}

.container__left__links {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 40px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 14px;
  color: white;
  font-family: "NeueMontreal-Regular", sans-serif;
}
.container__left__links a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.container__left__links a:hover {
  color: rgba(255, 255, 255, 0.26);
}
.container__left__links ul {
  padding-left: 0px;
  list-style-type: none;
}
.container__left__links li {
  margin-bottom: 10px;
}

.container__themes {
  z-index: 3;
  position: absolute;
  bottom: 128px;
  left: -106px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 0px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "NeueMontreal-Light", sans-serif;
  width: -moz-fit-content;
  width: fit-content;
  transform: rotate(-90deg);
}
.container__themes a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 20px;
}
.container__themes ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 0px;
  list-style-type: none;
}
.container__themes li {
  position: relative;
  margin-bottom: 10px;
}
.container__themes li::before {
  content: "";
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-44%);
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 0%;
}

.container::before {
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 19px rgba(0, 0, 0, 0.938), inset 0 0 0 20px white;
  pointer-events: none;
}

.container__right {
  display: flex;
  width: 50vw;
  height: 100vh;
}

#active {
  display: flex;
  opacity: 1;
  animation: fadeIn 0.7s ease-in-out forwards;
}

#inactive {
  animation: fadeOut 0.7s ease-in-out forwards;
}

.container__right__home {
  display: none;
  flex-direction: column-reverse;
  opacity: 0;
}
.container__right__home p {
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 20px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "NeueMontreal-Regular", sans-serif;
}

.container__right__projects {
  display: none;
  opacity: 0;
  flex-direction: column;
  z-index: 2;
  margin-top: 350px;
}
.container__right__projects h3 {
  letter-spacing: 1px;
  position: relative;
  white-space: nowrap;
  margin-top: 35px;
  margin-bottom: 0;
  margin-left: -23px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: light;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.85);
  font-family: "NeueMontreal-Light", sans-serif;
}
.container__right__projects h3::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: white;
}
.container__right__projects ul {
  z-index: 2;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: -50px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: 600;
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-family: "NeueMontreal-Regular", sans-serif;
  list-style-type: none;
  padding: 0px;
  text-align: right;
  width: -moz-fit-content;
  width: fit-content;
}
.container__right__projects ul p {
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "NeueMontreal-Regular", sans-serif;
}
.container__right__projects ul a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.85);
  font-family: "NeueMontreal-Light", sans-serif;
}
.container__right__projects ul li {
  margin-bottom: 10px;
}

.info__links {
  opacity: 0;
  white-space: nowrap;
  letter-spacing: 1px;
  display: none;
  flex-direction: column;
  margin-top: 300px;
  margin-bottom: 50px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 14px;
  color: white;
  font-family: "NeueMontreal-Regular", sans-serif;
  list-style-type: none;
}
.info__links a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}
.info__links ul {
  padding-left: 0px;
  list-style-type: none;
}
.info__links li {
  margin-bottom: 10px;
}

.info__links__bottom {
  opacity: 0;
  white-space: nowrap;
  letter-spacing: 1px;
  display: none;
  flex-direction: column;
  margin-top: 25px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 14px;
  color: white;
  font-family: "NeueMontreal-Regular", sans-serif;
  list-style-type: none;
}
.info__links__bottom a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}
.info__links__bottom ul {
  padding-left: 0px;
  list-style-type: none;
}
.info__links__bottom li {
  margin-bottom: 10px;
}

.container__right__contact {
  opacity: 0;
  white-space: nowrap;
  letter-spacing: 1px;
  display: none;
  flex-direction: column;
  margin-top: 785px;
  margin-left: 75px;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 14px;
  color: white;
  font-family: "NeueMontreal-Regular", sans-serif;
  list-style-type: none;
}
.container__right__contact a {
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */